{
      "statusCode": 200,
      "message": "Success",
      "result":{        
        "userId": $util.toJson($ctx.result.userId),
        "userName": $util.toJson($ctx.result.title),
        "email": $util.toJson($ctx.result.email),
        "mobileNo": $util.toJson($ctx.result.mobileNo),
        "status": $util.toJson($ctx.result.gsi-1),
        "createdAt": $util.toJson($ctx.result.createdAt),
        "updatedAt": $util.toJson($ctx.result.updatedAt)
    }
}