{
    "version" : "2017-02-28",
    "operation" : "Scan", 
    "filter": $util.toJson($ctx.args.filter),
    "limit" : $util.toJson($ctx.args.limit),
    "consistentRead" : false,
    "nextToken" : $util.toJson($ctx.args.nextToken)  
}