{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "auctionId" : $util.dynamodb.toDynamoDBJson($ctx.args.auctionId),
        "bidTimestamp" : $util.dynamodb.toDynamoDBJson($ctx.args.bidTimestamp)
    }
    
}